html {
    position: relative;
}

*{
    margin: 0;
    padding: 0;
}



/* Navbar */
#nav {
    position: sticky;
    top: 0;
    bottom: 25px;
    z-index: 1000;
}

section.sticky{
    padding: 5px 10px;
    background-color: #505050;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    font-family: 'Viga', sans-serif;
    font-size: 25px;
}






/* Jumbotron */
.jumbotron {
    position: relative;
    background-image: linear-gradient(to right, #333C3D, #4c4e4e,#525e5f);
    padding-top: 4%;
    
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}

.jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
}

.jumbotron h2{
    margin-bottom: 30px;
    font-size: 30px;
}

.jumbotron .tagline {
    font-family: 'Josefin Sans', sans-serif;
    padding-inline-end: 2%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    font-weight: 200;
    margin-top: 5px;
    color: rgb(160, 159, 159);
}

.jumbotron span {
    font-weight: bold;
    color: rgb(184, 184, 184);
}

.title {
    font-weight: bolder;
    margin-top: 80px;
}

h2 {
    font-weight: bolder;
}

.ban-img {
    position: relative;
}


/* Info Panel */
.info-panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -25px;
    background-color: white;
    z-index: 2;
    padding: 10px;
}

.info-panel img {
    width: 90px;
    height: 90px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.info-panel h4 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
}

.info-panel p {
    font-size: 14px;
    color: rgb(146, 146, 146);
    margin-top: -5px;
    font-weight: 200;
}

.info {
    text-decoration: none;
    color: #000;
}

.info:hover {
    color: rgb(43, 43, 43);
}



/* Boba */
.boba p {
    text-align: center;
    font-weight: 200;
    font-size: 19px;
    margin: 30px 5px;
}

/* Content */
.content {
    margin-top: 50px;
    text-align: center;
}

h4 {
    font-size: 42px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 60px;
}

.content p {
    font-size: 19px;
    color: #acacac;
    font-weight: 200;
    margin: 30px 5px;
}

.content span{
    font-weight: 500;
}

.content p span {
    color: rgb(29, 29, 29);
    font-weight: 700;
} 

/* New Variant */
.menu {
    justify-content: center;
}

.menu h5, p {
    font-family: 'Montserrat', sans-serif;
}

.menu h5 {
    font-weight: bold;
    font-size: 20px;
}

.menu p {
    font-size: 15px;
    font-weight: 200;
}

.card:hover {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

hr {
    border-top: 1px solid rgb(104, 104, 104);
    margin-bottom: 50px;
}

.card {
    margin-top: 30px;
}

.o-menu {
    margin-top: 15px;
}

/* Footer */
footer {
    /* position: absolute; */
    bottom: 0;
    background-color: #181A1B;
    padding-top: 40px;
    width: 100%;
    margin-top: 100px;
}

footer p {
    font-size: 30x;
}

footer h6 {
    color: rgb(187, 187, 187);
    margin-bottom: 50px;
}

footer .container .row img {
    width: 250px;
}

footer .contact p {
    padding: 0;
    margin-bottom: 5px;
}

footer svg {
    margin: 15px;
    margin-bottom: 15px;
}

.container p {
    color: rgb(148, 148, 148);
}

footer hr {
    border-top: 1px solid #ffffff;
}

.link {
    color: rgba(77, 78, 77, 0.733);
    text-decoration: none;
}

.link:hover{
    color: rgb(255, 255, 255);
}

.rpl {
    color: rgb(0, 68, 255);
    text-decoration: none;
}


/* About Us */
.about {
    justify-content: center;
}

.about h5, p {
    font-family: 'Montserrat', sans-serif;
}

.about h5 {
    font-weight: bold;
    font-size: 20px;
}

.about p {
    margin-top: 20px;
}

.about small {
    font-style: italic;
}





/* Utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}

/* DESKTOP VERSION */
@media (min-width: 992px) { 
    .navbar-brand, .nav-link {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .navbar-brand span {
        color: white;
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 25px;
        color: white !important;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid rgb(31, 31, 224);
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        margin-top: -70px;
        padding-top: 8%;
        width: 100%;
        height: 90vh;
    }

    .content {
        text-align: left;
    }

    .info-panel {
        margin-top: -65px;
    }
}